.top{
 width: 94%;
 margin: 0 auto;

}

.top-hako{
 width: 650px;
 height: 425px;
 padding: 32px 16px;

 border: 6px solid black;
 border-radius: 20px;
 background-color: white;
 text-align: center;
 margin: 0 auto;

 .title{
  font-size: 38x;
  text-align: center;
  // background-color: blue;
  height: 38px;
  width: 500px;

  margin: 10px auto;
 }

 .title_body1{
  font-size: 22px;
 }

 .title_body2{
  font-size: 22px;
  font-weight: bold;
  background:linear-gradient(transparent 50%, yellow 40%)
 }

 .link{
  background-color: #07aae0;
  margin: 10px auto;
  width: 500px;
  height: 50px;
  border-radius: 9px;
  line-height: 50px;
 }

 a{
  text-decoration: none;
  color: white;
 }

 .caution1{
  font-size: small;
 }

 .caution2{
  font-size: small;
 }

 .caution3{
  font-size: small;
 }



}
